[2013-06-26 19:33] tmcw opened #1 "Infinite loop on sgp4"
In v8 the following code crashes Chrome Renderer due to an infinite loop somewhere.

[code]

[2013-06-26 22:13] tmcw opened #2 "Getting degrees/altitude from coordinate"
It's very hard to figure out the code path to get from a time and satellite config to this value: the section about `satellite.degrees_lat` says you can get lat/lon from geodetic coordinates, but then gives examples with geodetic radians and no clue as to which part of the output of `sgp4`, if any, is the input to this.

[2013-06-26 22:28] #1 closed, assigned to shashwatak

[2013-12-09 09:23] #2 closed, assigned to shashwatak

[2014-03-16 04:33] Axiverse opened #3 "Unable to get matching results."
I'm comparing results with:
http://www.satellite-calculations.com/TLETracker/SatTracker.htm

And I can't seem to get matching results. Besides the TLE, the only two inputs from me are the time for satellite.propagate, and satellite.gmstime_from_date

I'm using this code

[code]

The TLE is

[code]

[2014-05-29 18:29] #3 closed, assigned to nobody

[2014-11-05 10:37] markov00 opened #6 "Get a full orbit from -180 to +180"
Hi, first I want to thank you for this great library.
I'm using it to display orbits of the ISS and it works great but I'm interested in one specific action: get the exactly the orbit of the ISS starting from a longitude of -180 degree to the longitude of 180 degree starting from an internal timestamp of the orbit.

What I'm doing right now is to get the ISS position at the initial timestamp, then

[2014-11-25 19:02] markov00 opened #7 "Problem with TLE"
Hi, I was using this TLE (downloaded from norad http://www.celestrak.com/NORAD/elements/stations.txt ) few in the last days but I can't get the the coordinates, I'm getting NaN as coordinates.

1 25544U 98067A   14329.23485703 -.00026060  00000-0 -42757-3 0  4574
2 25544  51.6461  21.1442 0006610  69.1751  39.9679 15.51409999916316

Is there something wrong with the tle?

[2015-01-28 13:34] owntheweb opened #8 "TLE Challenge: 0 error, but NaN pos/vel values for 6% of all available TLEs"
Hello,
I'm making a fun sat sim for a museum project, with satellite-js generating positions for all the satellites. You can see a work-in-progress rendering at:
https://vimeo.com/117338834

Awesome so far, however the video is missing some "dots" due to error-less errors. At the moment, 901 out of the 15116-ish available TLEs (space-track.org) are not producing errors, but are producing NaN value

[2015-02-02 18:03] shashwatak commented on #8
Hi, thanks for making use of this library =)

Sorry for the slow response, been very busy with other stuff.

The fact that the python code is not producing an error means there must be a bug in the javascript, not in your TLE format. I'm not sure if it's how we parse the TLE, or in the math.

I will investigate soon.

[2015-02-02 21:11] owntheweb commented on #8
Cool. Thanks for checking in. I truly appreciate it.

Also, thought you might appreciate where I'm going with this longer term, which is why I'm using JavaScript and not Python (not to mention you have some nice add-ons that make transforms easier):
http://christopherstevens.cc/satvr/ (click to move forward, ASWDRF for move - not finished or quite VR friendly just yet)

Thanks again!

[2015-02-28 00:00] owntheweb commented on #8
I'll start running through this line by line as soon as I can to see if I can see something. I'll race you? :D

[2015-02-28 01:31] shashwatak commented on #8
You've already got a head start haha. Thank you very much =)

On Fri, Feb 27, 2015, 16:00 Christopher Stevens <notifications@github.com>
wrote:

[2015-03-06 19:06] owntheweb commented on #8
You got it. I'll take a look tomorrow. :smile:

[2015-03-08 21:43] owntheweb commented on #8
Still digging in spare time, here's what I've come up with so far:

Using the same TLE info from above, the issue seems to start at the 'bstar' variable, showing up as a NaN value.
satellite.js line 2317:
[code]

To compare, io.py line 146:
[code]

Now, without knowing what's going on just yet, I can fake it and make an adjustment to that js line to get the same value as Python (only testing this

[2015-03-08 22:31] owntheweb commented on #8
Sorry in advance it I'm posting too much. I found another, possibly more important item:

For ALL orbiting objects, if there was a NaN result (before making edits in my previous comment), the following was always "-" for line 1:

[code]

This was the case for 901 orbiting objects at the moment, not updating anything since quite a while. Hmmm....

[2015-03-09 04:04] owntheweb commented on #8
Ok, I submitted a pull request that has resolved the issue for 901 of my orbiting objects (no more NaN!)

I'll post a separate ticket if I see anything else as I progress.

[2015-03-13 07:12] shashwatak commented on #8
OMG dude, thank you so much =D

I will verify everything works and pull your request ASAP. Please expect
delays =( Life is a bit hectic.

On Sun, Mar 8, 2015 at 9:04 PM, Christopher Stevens <
notifications@github.com> wrote:

[2015-03-13 19:59] owntheweb commented on #8
I understand the hectic. No rush.

Thanks for sharing this great library! Also, thanks for the opportunity to assist in a small way.

[2015-03-31 04:58] shashwatak commented on #8
THANKS! =D

[2015-03-31 04:58] #8 closed

[2015-04-01 23:39] shashwatak commented on #7
Closing this because it seems like y'all know what's going on =)

[2015-04-01 23:39] #7 closed

[2015-05-31 00:20] brianbreitsch opened #10 "Documentation on ECI/ECF conversion"
The parameter gmst is left unspecified. It could be confusing since it implies a time unit, but the function itself seems to expect an angle.

Stack Overflow question regarding gmst:
http://physics.stackexchange.com/questions/98466/radians-to-rotate-earth-to-match-eci-lat-lon-with-ecef-lat-lon

[2015-06-01 03:11] shashwatak commented on #10
Thanks for the feedback =), I'll include a couple of extra lines in the documentation explaining that GMST is defined as an angle in radians.

[2015-06-01 03:13] #10 closed

[2015-06-22 11:47] ezze opened #12 "Bower / Require.js / Grunt / Jasmine / JShint"
Hi, Shashwat!

Many thanks for your efforts on bringing this library to JavaScript!

I forked this library and made many changes to meet the requirements fixed for projects in our organization. These changes also affect the naming convention, so probably you will not accept them due to reasons mentioned in your `README.md`. Anyway, [take a look at this](https://github.com/solarpatrol/satellitejs/t

[2015-06-25 00:00] shashwatak commented on #12
Definitely very excited about the improvements to testing! That  (and the JSHint stuff) alone is worth a PR =)

I was worried when you said you changed the naming convention, but I see you haven't deviated from Brandon Rhodes original code, so that's all good.

I was also worried about grunt, bower, require, dependencies, but they seem to be much more common and accepted today than when I started

[2015-06-25 08:53] ezze commented on #12
Hi, man!

Great to hear that you like it! It would be very good if you continue to maintain the library with accepted changes. :)

I created a pull request https://github.com/shashwatak/satellite-js/pull/14.

[2015-06-25 18:43] shashwatak commented on #12
Check the README, I made a small addition =)

[2015-06-25 18:43] #12 closed

[2015-06-25 19:32] ezze commented on #12
Thank you so much! :)

[2015-07-06 22:36] davidcalhoun opened #15 "Problem getting correct longitude/latitude"
I'm trying to upgrade from an older version of the library to a newer version, and I'm running into an issue where I'm getting strange latitude/longitude values.  From what I can tell, I isolated the issue to satellite.eciToGeodetic.

Here's a reduced test case:

[code]

With my full code, when plotting the values produced by satellite.js I strangely see a miniaturized version of a ground track (i

[2015-07-07 01:47] davidcalhoun commented on #15
Figured it out - looks like I was missing a step to convert radians back to degrees.

[2015-07-07 01:47] #15 closed

[2015-07-20 21:33] davidcalhoun opened #17 "Publish satellite.js to npm"
I don't want to claim this package as mine on npmjs.com, but you should publish it there ("npm publish") so folks can satellite.js directly from npm.

Thanks!

[2015-07-20 21:34] shashwatak commented on #17
Will do!
On Jul 20, 2015 2:33 PM, "davidcalhoun" <notifications@github.com> wrote:

[2015-07-20 21:49] shashwatak commented on #17
https://www.npmjs.com/package/satellite.js

[2015-07-20 21:49] shashwatak commented on #17
Closing, but feel free to reopen if something is broken/incorrect.

[2015-07-20 21:49] #17 closed

[2015-07-20 21:56] shashwatak commented on #17
It was cool that I didn't have to add anything, NPM was happy with the package.json that bower used!

[2015-07-20 22:28] davidcalhoun commented on #17
Sweet!  Thanks for the quick response.  :)

Now folks can add it just with this: ```npm install satellite.js```

[2015-07-26 04:11] dunko opened #18 "help using with requirejs"
Hi there,
I was wondering if anyone could provide me with some newbie instructions, or set me in the right direction using this library with requirejs.

I'm using your example as a main.js and getting an 'amdefine' not defined, if I comment out that if statement, I"m getting a 'define not defined' reference error.

Any help you can offer would be greatly appreciated, I'm just starting out in my fi

[2015-08-11 05:44] syntagmatic opened #19 "Some satrecs return false for position/velocity with propagate"
Having trouble with these TLEs for some reason.

[code]

When I load them, I get `Uncaught TypeError: Cannot read property 'x' of undefined` on line 713

Most TLEs do work though. I'm using the library to create groundtracks with D3.js

http://bl.ocks.org/syntagmatic/6c149c08fc9cde682635
http://bl.ocks.org/syntagmatic/raw/6c149c08fc9cde682635/noaa.html
http://bl.ocks.org/syntagmatic/raw/6c149c08fc

[2015-08-11 07:38] wenzul commented on #19
For example for decaying satellites sgp4 returns `{position: false, velocity: false}`.
You should check `satrec.error` if and to figure out the reason why `position` has no attribute `x`.

Also note, that the TLEs are designed for a precise prediction within maybe two weeks. After that the satellite drifts to far away due to perturbations. Calculating the terms could fail.

[2015-08-11 07:54] syntagmatic commented on #19
Ahh, my mistake. The TLE does load into `satrec`, but my application throws the error when converting to geodetic coordinates due to lack of an `x` value.

`satrec.error` returns the integer `1` for problematic TLEs.

I looked at the data in a parallel coordinates view to see which orbital parameters were special for MICROMAS and FLOCK 1B-28. They both appear to have high Mean Motion and First Der

[2015-08-11 08:08] wenzul commented on #19
For your visualization you can may use weeks. But in that time it also can decay.

`satrec.error` > 0. It's devided into different cases.

[2015-08-11 08:08] shashwatak commented on #19
Those visualizations are really cool!

[2015-08-11 08:10] wenzul commented on #19
Yes, sorry! They are! :)

[2015-09-12 01:24] chk1 commented on #18
I got it working with this code:
[code]

The folder structure is as follows:
[code]

[2016-01-13 22:53] battlesnake opened #22 "Browserify-friendly"
I've forked and converted this library to be Browserify-friendly, i.e. I removed RequireJS so now it uses node-like `module.exports` and `require` instead, and thus can be bundled with Browserify.  If this is of interest to you, I can send a pull request.

I also plan to heavily refactor the library in the future, towards a more OO-style, although I'm guessing that this won't be of interest since

[2016-02-08 23:34] shashwatak commented on #22
@battlesnake will making it compatible Browserify break the existing Bower configuration? If not, then please send me a PR =)

While I admire your goal of refactoring the code, I don't recommend you do that without a serious understanding of Orbital Mechanics, Ephemera, and all that good stuff. Besides that, I'm not sure if there is much to be gained by refactoring. The code is actually quite easy

[2016-07-14 18:28] bdefore opened #24 "observerCoordsEcf, velocityEcf not defined"
Example in README references:

`dopplerFactor = satellite.dopplerFactor(observerCoordsEcf, positionEcf, velocityEcf);`

But neither of `observerCoordsEcf` or `velocityEcf` appear to be available.

[2017-01-25 22:29] weatherlym15 opened #26 "incorrect position & velocity"
I followed what you have in your README.md where I made timeSinceTleEpochMinutes = increments of 300.

var tleLine1 = '1 25544U 98067A   13149.87225694  .00009369  00000-0  16828-3 0  9031',
      tleLine2 = '2 25544 051.6485 199.1576 0010128 012.7275 352.5669 15.50581403831869';
var satrec = satellite.twoline2satrec(tleLine1, tleLine2);
var positionAndVelocity = satellite.sgp4(satrec, timeSinceTl

[2017-02-16 02:08] laptopdude90 opened #27 "Efficient way to get passes for a given coordinate on the Earth and a satellite"
Is there any built in method that will give me pass information, given a point on the Earth and a satellite object? Currently, I'm looping through from now until a week from now, 30 seconds at a time, checking the lookAngle elevation against a minimum angle.

[2017-03-10 18:17] tikhonovits commented on #26
Dear @shashwatak,

unfortunately, I have to confirm the trend as described by @weatherlym15.

Indeed, for time instances close to the TLE epoch, the results provided by the js version match to the corresponding ones by the [c++ version](http://www.celestrak.com/publications/AIAA/2006-6753/). Note that my js results are in agreement with those provided for [benchmarking purposes](https://github.com

[2017-03-10 18:53] shashwatak commented on #26
@weatherlym15 @tikhonovits thank you for your patience, I have been very busy with work and travel. If you guys don't mind, ping me on Wednesday (march 13), I should be able to set aside some time to investigate this issue.

[2017-03-10 19:02] shashwatak commented on #27
I do not have a helper function that does that, but if you would like to make a pull request to include something useful like that (or other useful helper utilities you might have), I'd be happy to look over them and see if I can include them :)

[2017-03-10 19:05] shashwatak commented on #24
Yes, you will have to define those yourself using the functions described in the README.

[2017-03-11 23:30] tikhonovits commented on #26
Dear @shashwatak,

as you see I was a little bit unpatient...!

Fortunately, I found the source of the progressive deviation between js and c++ versions.

By comparing all members of `satrec` between the two versions, I found the following values as different wrt to the js version:
[code]
The property that makes the difference of course is `irez`, which for some reason in the js version is equal t

[2017-03-14 22:24] shashwatak commented on #26
@tikhonovits If you would be so kind as to make a PR with the necessary fixes, I will gladly accept it :) Please make sure the tests in the tests directory still pass. Also, please add your name to the contributors list in the README.md :)

[2017-04-13 23:46] ezze commented on #22
Please consider [this pull request](https://github.com/shashwatak/satellite-js/pull/28).

[2017-04-14 12:38] ezze commented on #26
I also found this issue last night migrating from [RequireJS to CommonJS](https://github.com/shashwatak/satellite-js/pull/28). ESLint pointed to these lines and I left them as is because wasn't sure how to fix them properly.

@shashwatak, if you feel that code refactoring proposed by pull request mentioned above is acceptable, I can create another pull request later to fix this issue (like @tikhon

[2017-06-14 21:20] barissaydag opened #29 "How can I calculate heading, velocity and altitude?"
First of all, thanks a lot for this great library!

I have a question: I know how to calculate look angle and range. But I need help calculating heading (e.g. 320 degrees), velocity (3 km/s) and altitude (12000 km over ground). How can I achieve these?

Thanks!

[2017-06-16 06:19] barissaydag commented on #29
OK, I solved 2 out of 3:
Velocity: sqrt(velocity.x^2 + velocity.y^2 +velocity.z^2);
Altitude: I am converting position to geodetic coordinates and using height property.

However, I am still stuck with heading. How can I convert velocity.x, y, z to a heading (e.g. 97 degrees east)?

Thanks a lot and kind regards,
Baris

[2017-07-28 05:49] davidcalhoun opened #31 "Lat/lon only updates every second?"
Thanks for the library!  I've been using it a while and it's really fun to play around with.

I've been experimenting with smoothly animating a satellite's position in realtime.  It seems like the browser is more than capable of computing SGP4 several times per second, but despite that it appears that the lat/lon values only change once per second?

Just was wondering if this is some built in rest

[2017-07-28 06:27] davidcalhoun commented on #31
Oh!  I found a way to make it more accurate by including milliseconds in gstime/jday.  Will submit a PR :)

[2017-09-25 10:41] raats31 commented on #3
This issue is closed that means you guys are getting correct result, so maybe there is some understanding issue because of which I am not able to generate correct results. Please help me regarding this.

I have compared the results with AGI STK Desktop application. [AGI STK Help Page](http://help.agi.com/stk/index.htm#stk/vehSat_orbitProp_msgp4.htm) says

Following is the full description of my us

[2017-09-28 13:39] raats31 opened #34 "Unable to get matching results."
I have seen all the comments on this [issue](https://github.com/shashwatak/satellite-js/issues/3) and tried all but couldn't resolve my issue, so I am opening a new issue as it's urgent for me to get it resolved

Maybe there is some understanding issue because of which I am not able to generate correct results. Please help me regarding this.

I have compared the results with AGI STK Desktop applic

[2017-10-05 01:34] thkruz commented on #29
Could you calculate the lat/long of the next position (ex. position + velocity * 1 sec) and then calculate the heading using that?

[2017-10-05 13:46] davidcalhoun commented on #29
@thkruz That's the method I'm using in my project and it works decently well!

The only time it doesn't work well is when the satellite (such as the ISS) is near the poles, where the latitude seems to change very slowly.  In that case you can just do something like calculate the next position + 60 seconds or something.

[2017-10-09 02:11] thkruz commented on #29
@davidcalhoun just gotta remember that for polar/sun synchronous satellites, depending on your interval, the +60 sec solution can result in bugs where your latitude at t=0 is 89.98 moving towards the pole and your latitude at t+60 is 89.95 thus giving you an incorrect northern heading at t=0. In that scenario small intervals and no rounding is ideal.

For true geosynchronous - there really isn't a

[2017-11-13 18:44] dangodev commented on #26
@ezze @tikhonovits are there any open PRs to address this? I’d be happy to open one myself but don’t want to take credit for anyone else’s work.

[2017-11-13 18:47] ezze commented on #26
@dangodev, I decided to not make any changes to this repo until [this big pull request](https://github.com/shashwatak/satellite-js/pull/28) is merged or rejected. Seems that @shashwatak is not supporting the repo anymore.

[2017-11-13 19:12] dangodev commented on #26
@ezze That makes sense. I looked through that and saw you hadn’t sneakily changed the values for `src/dsinit.js`.

Is it time to discuss forking this repo?

[2017-11-13 19:19] ezze commented on #26
@dangodev +1 for forking. But probably a person having a good knowledge in orbital mechanics is required to support it further.

[2017-11-13 19:31] dangodev commented on #26
_hides under desk_

[2017-11-13 20:23] tikhonovits commented on #26
@dangodev @ezze If any help will be needed with orbital mechanics, I will be happy to contribute. At least the bug mentioned in my previous post must be corrected.

[2017-11-14 03:34] shashwatak commented on #26
I am sorry I’ve been unable to give any time to this project :(

I just made @ezze a Collaborator on this project to hopefully unblock
everybody.

On Mon, Nov 13, 2017 at 12:23 Nikos Sagias <notifications@github.com> wrote:

[2017-11-14 03:41] dangodev commented on #26
@shashwatak That’s good news! Glad to hear it.

And no need to apologize! You’ve done some incredible work on this project that you should be very proud of. Nothing to be sorry for. But all in all, glad to hear your good work can continue moving forward.

[2017-11-14 04:19] davidcalhoun commented on #26
@shashwatak No worries, we all have lives!  Appreciate you giving @ezze collaborator rights to keep this awesome project going.  :)

[2017-11-14 09:38] ezze commented on #26
Hey, @shashwatak! Great to hear you again! :) Thank you so much for your trust, I accepted your inventation. Hope that we will be able to move this project forward.

1. @shashwatak, one very important thing is to gain an access to managing of NPM package, otherwise I have no chances to publish new versions of the library to NPM. As I can see, [npm owner](https://docs.npmjs.com/cli/owner) command i

[2017-11-14 11:44] ezze opened #35 "Git workflow"
I propose all contributors to follow some Git workflow similar to [Gitflow workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). It will allow to keep `master` branch clean and use it for tagged releases only.

I already created a `develop` branch but not sure whether it should be set as base branch in repository settings. At the moment, `master` branch is a defa

[2017-11-14 11:49] ezze commented on #26
5th and 6th of the previous comment are done. @dangodev, you can give a try to fix this issue but before that let's discuss a [Git workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) to use (I propose to branch your pull request from `develop` branch).

[2017-11-14 14:28] ezze commented on #35
Or we can use `master` branch as development branch (as is at the moment) and create a separate `release` branch for tagged releases. `develop` branch is not required in this case and there is no need for @shashwatak to change the default branch of repository.

[2017-11-14 16:12] ezze commented on #22
Closing this due to pull request adding Common.js support is merged. @battlesnake, please test whether it's what you want.

[2017-11-14 16:12] #22 closed

[2017-11-14 18:42] davidcalhoun commented on #35
Sounds good to me, as long as we add some clear instructions for workflow to the readme.  Not everyone is familiar with it.

[2017-11-14 22:13] dangodev commented on #26
@ezze all that sounds good to me. I’ll give your CJS branch a poke later this week. As for the workflow, that all works for me. I’ve commonly seen it both ways—either `master` is the stable version, or `master` is the latest version. I don’t have an opinion one way or the other; we can go with what you proposed:

- `master` is latest stable version
- `develop` is the in-progress development versio

[2017-11-14 22:18] dangodev commented on #26
But back to this issue, I can open up a PR this week and try to implement @tikhonovits’ patch unless someone else beats me to it. I’ll compare it to [the target values](https://github.com/shashwatak/satellite-js/issues/26#issuecomment-285744099) and hopefully we’ll be able to hit those with just this one patch.

[2017-11-14 22:33] ezze commented on #26
@dangodev, please write some tests relying on input data and results provided by @tikhonovits in your pull request. Probably adding these values to existing `test/sgp4.json` file will be enough.

As for [workflow](https://github.com/shashwatak/satellite-js/issues/35), let's wait for what @shashwatak says. If he leaves `master` branch as the default one then it will remain a development branch. The

[2017-11-17 06:00] shashwatak commented on #35
`develop` is now the default branch

[2017-11-17 06:20] shashwatak commented on #26
TravisCI support is now enabled, i believe
Gitter should be up as well
WIP to grant ownership of npm package to @ezze

[2017-11-17 06:45] shashwatak commented on #26
@ezze you now have npm ownership :)

[2017-11-17 06:56] shashwatak commented on #26
I also went ahead and protected both `master` and `develop` from deletion and force push, including from myself. I have a bad tendency to amend commits and force push sometimes 😬 this should put an end to that :)

[2017-11-17 08:25] ezze commented on #35
@shashwatak, thanks a lot for participation! @davidcalhoun, @dangodev, please rebase your pull requests to `develop` branch. guys.

[2017-11-17 09:49] ezze commented on #26
@shashwatak, Travis CI is configured [for the repo](https://travis-ci.org/shashwatak/satellite-js). It lints, tests and builds the code for each new commit in `master` and `develop` branches.

Gitter chat is [available](https://gitter.im/satellite-js/Lobby), everyone interested can join it now (the link is added to `README.md`).

I also see myself in contributors' list of the npm package.

@dangod

[2017-11-18 19:11] ezze commented on #26
Fixed by #37.

[2017-11-18 19:11] #26 closed

[2017-11-19 16:41] ezze commented on #34
@raats31, I was able to reproduce your results with `satellite.js` but, unfortunatelly, I'm out of idea how to get results with AGI STK Desktop application. Is it freeware?

Looking at difference between given results I see that they become close to each other if we suppose that results from STK application are calculated starting since 2017-07-28T02:55:00 but not since 2017-07-28T02:55:06. Is it

[2017-11-19 19:32] tikhonovits commented on #34
Dear @raats31, further to @ezze response, I suspect that since the results you have got from STK seem to be close, but not identical, to the ones you have got with satellite.js, the former ones probably correspond to a different ECI reference frame that should be the J2000.0. Try to extract similar results for TEME with STK and check for matching. I have tried that before and I found that there wa

[2017-11-19 19:51] ezze commented on #34
Seems that [this one](https://github.com/joshuaferrara/node-sgp4/issues/4) is a related issue.

[2017-11-22 09:53] ezze opened #40 "Drop Bower support"
I think that we should drop Bower support (probably, after version 1.4.0 release of `satellite.js`) as it seems deprecated:

[code]

The same depreaction warning is placed on [Bower home page](https://bower.io/) and [Bower Github repo](https://github.com/bower/bower) (there is also an [issue](https://github.com/bower/bower/issues/2298)).

If anybody still uses Bower package of `satellite.js` consi

[2017-11-22 11:37] ezze commented on #35
Added [Contributing](https://github.com/shashwatak/satellite-js#contributing) section to `README.md`.

[2017-11-22 19:33] davidcalhoun commented on #40
Sounds good, yeah it's deprecated from what I can tell.

[2017-11-29 08:02] #35 closed

[2017-11-29 22:45] fpfaffendorf commented on #27
@laptopdude90 I'm facing the same challenge. Did you find or develop a better way ?

[2017-11-29 23:08] laptopdude90 commented on #27
@fpfaffendorf No, but I came up with an idea in theory:

Get the angle for two times, far apart, but less than an orbit period. I have a feeling they follow a sinusoidal trend (Not tested) so you could use that to narrow it down a lot, and then find the exact values and verify.

[2017-11-30 18:41] fpfaffendorf commented on #27
@laptopdude90 Thanks for your response. That's an interesting idea that might save some CPU. Specially for LEO satellites.
I think that most satellite prediction software use different formulas to find the rise, transit and set times of a satellite instead of running the math for each instant. I've done that in the past for solar system objects and again, there were formulas. It wasn't necessary t

[2017-12-22 20:58] ezze commented on #31
Fixed by #38.

[2017-12-22 20:58] #31 closed

[2017-12-22 23:26] ezze commented on #31
This is available in 2.0.0 now.

[2017-12-22 23:27] ezze commented on #40
Dropped since 2.0.0.

[2017-12-22 23:27] #40 closed

[2017-12-22 23:29] ezze commented on #26
The fix is finally released in 2.0.0. You can try to update the library and give it a try.

[2018-01-22 19:38] ezze commented on #34
Closing this as invactive. @raats31, if you still have some issues please feel free to open the new ones.

[2018-01-22 19:38] #34 closed

[2018-02-08 23:45] jbreed opened #41 "Invalid look angles returned"
Currently having issues getting back valid look angles. Maybe someone can review my code to see the hangup, but as it is right now I am getting azimuth reading of 2.xxxx* and switching around satellites I don't see anything over 5, or 6, degrees.

**Example Output:**
azimuth:2.738130998510715
elevation:0.869799331216238
rangeSat:37079.4326120618

**Code example following the readme:**

[code]

[2018-02-22 04:49] davidcalhoun opened #42 "Used on thehumanitystar.com :)"
Just saw https://www.thehumanitystar.com/ and noticed that they're using `satellite.js`, albeit an older version.  Pretty cool!

Wonder if we should keep track of some cool places where it's being used?

[2018-03-01 03:23] emedvedev opened #43 "Wrong predictions for Molniya orbits"
I'm trying to predict the position of a satellite with a Molniya orbit, [Molniya 3-47](https://www.n2yo.com/?s=23642):
[code]

The prediction turns out to be completely incorrect. The minimal example below is taken from the readme almost line-by-line:

[code]

It gives me `39.8491516985329 -157.00043723551485`, while the correct coordinates are `38.64 72.56`. At other times it's even more off. Her

[2018-03-01 03:34] emedvedev commented on #43
A correct result from `pyephem`:

[code]

[2018-03-01 09:19] ezze commented on #43
Hi, @emedvedev. Thank you for the report.
I confirm that something is broken in 2.0.0. I get different results with 1.3.0 and they are close to expected.
We need some time to explore what's going wrong.

[2018-03-01 13:14] ezze commented on #43
After some investigation I stated that results' difference between versions 1.3.0 and 2.0.0 is caused by [this pull request](https://github.com/shashwatak/satellite-js/pull/37/files#diff-ce2fadbd25972908921108af3daa2bd9) that fixes #26. To be exact, it's a fix in `dsinit` function:

[code]

So in 1.3.0 this code snippet results in `irez = 0`, in 2.0.0 — `irez = 2`. If you set `irez` to `0` then yo

[2018-03-03 15:17] dangodev commented on #43
For some context, the same part of the SGP4 code, compared across libraries:

**satellite-js**
[code]

**Original SPG4 C++ Code**
[code]

**Python sgp4 (1.4)**
[code]

As @ezze mentioned, the 2.0.0 bump for satellite-js was restoring the values from the original C++ that had been changed in the Python port. After the change, I saw much improved accuracy in ISS location-tracking for my usecase, as

[2018-03-12 18:14] christianreyes commented on #27
I use this: https://github.com/nsat/jspredict

[2018-04-10 23:02] Chromework-zz commented on #42
Stuffin.space uses satellite.js as well.

[2018-04-14 18:59] nhamer commented on #43
nb, the orbit for QZS-1 is irez=1 (1 day resonance, rather than 2=half-day)

1 37158U 10045A   18103.52828076 -.00000124  00000-0  00000+0 0  9992
2 37158  41.0319 154.9738 0753103 270.0506 104.4433  1.00281986 27777

[2018-04-14 19:16] nhamer commented on #43
Almost certain that the issue is https://github.com/shashwatak/satellite-js/blob/226d8d5520c0cf03a591a6f0bd4ddfd8a1de0965/src/propagation/dspace.js#L248

The equivalent C code (sgpunit.cpp@1114) is:
``
             mm   = xl - 2.0 * nodem + 2.0 * theta;
``

(slightly different runs over a few seconds, so gmstime is not identical):

Old satellite.js (irez=0): Molniya 62.97302163853729 -152.31526401

[2018-04-14 20:55] nhamer commented on #41
azimuth is in radians

[2018-04-16 01:53] nhamer opened #44 "misleadingly-named parameter observerCoordsEcf should be observerGeodetic"
nit, documented as observerGeodetic (and Ecf coords don't work as a parameter)

https://github.com/shashwatak/satellite-js/blob/226d8d5520c0cf03a591a6f0bd4ddfd8a1de0965/src/transforms.js#L171

[2018-04-16 20:27] ezze commented on #44
@nhamer, thank you for reporting. I made some naming changes [here](https://github.com/shashwatak/satellite-js/commit/77e55d214b14a382275730d1d4b12ad65708b18e). Hope it looks better now.

[2018-04-16 20:27] #44 closed

[2018-04-16 20:35] ezze commented on #41
@jbreed, was absence of conversion from radians to degrees the issue in your case?

[2018-04-16 20:39] jbreed commented on #41
I haven't looked back at this in a bit. If I recall, many satellites I received spot on AZ and EL except for those that had an inclined orbit.

When I look back at this, I'll be sure to follow up here

[2018-04-17 03:58] nhamer commented on #6
note that there is no general solution to this problem - some satellites (geosynchronous ones) will ideally never cross -180. others, polar orbits are also not likely to work out well.

what you probably want to implement as a matter of practice, is either n revolutions or a fixed period of time (1 sidereal day is a possibility)

[2018-04-18 16:14] nhamer commented on #19
I don't think there's actually a bug in the calculations here, calculating near the epoch works fine (FLOCK 1B-28)

console.log(JSON.stringify(satellite.sgp4(satrec, 0).position));
{"x":-6486.244055534791,"y":1103.1672497210636,"z":-0.11404306548681002}

Eccentricity is a function of bstar and time, and when to try to propagate to current time, it's negative.

sgp4 should return { satrec: satrec,

[2018-07-16 22:22] adrianhescalante opened #45 "Now sgp4 function is taking a lot more time than 1.3.0 version"
After updating from version 1.3.0 to 2.0.2, now the sgp4 function is taking like 100 times the previous time to calculate the propagation. After profiling my code all points out that sgp4 is the problematic function. For now I will stay in 1.3.0, but I just want to point it out.

Is it normal or maybe just a bug?

[2018-08-09 17:40] terekcampbell commented on #19
Wanted to mention that the returning of [false, false] (after upgrading from 1.3.0 to 2.0.2) is an issue for myself as well

[2018-08-09 17:41] terekcampbell commented on #45
+1
I just upgraded from 1.3.0 to 2.0.2 and noticed a similar significant slowdown. I didn't run a profiler to verify it's coming from that function, but a spot check implies it is. Until it's resolved I've got to stick with 1.3.0

[2018-08-10 18:04] thkruz commented on #45
Few observations:

- sgp4 function declares rec and then uses _extends to do something unlike 1.3.
- - I replaced that line with var rec = satrec.
- sgp4 function returns satrec in 2.0.2
- - I set it to only return postion and velocity.

In my implementation:
2.0.2 takes 757ms to propagate the whole catalogue
2.0.2 without the above code takes 175ms (no other changes)
1.3 takes 58ms.

Does anyone

[2018-08-10 18:50] ezze commented on #45
Hi, guys! Thanks for reporting this.

@thkruz, the purpose of `extends` is to clone the original `satrec` argument:

https://github.com/shashwatak/satellite-js/blob/develop/src/propagation/sgp4.js#L101

Otherwise some fields of `satrec` input object will be modified. I'm not sure whether this is an allowed behavior and will not break anything else. Before reverting it back I would try to replace s

[2018-08-10 18:56] ezze commented on #41
Feel free to open again.

[2018-08-10 18:56] #41 closed

[2018-08-10 19:06] ezze commented on #45
I've checked that in 1.3.0 `satrec` is really not returned as the result of `sgp4` function and, probably, that all modified properties of this object is for internal usage only (excepting `satrec.error`).

[2018-09-15 19:33] ezze commented on #45
@adrianhescalante, @terekcampbell, @thkruz, guys, please check out version 2.0.3. Hopefully, it's fixed now.

`satrec` object is not cloned in `sgp4` and `sgp4init` functions as it was in 1.3.0. I also had to add `eslint-disable no-param-reassign` instructions to satisfy ESLint.

[2018-09-15 19:33] #45 closed

[2018-09-16 14:41] thkruz commented on #42
I created a page in the wiki for listing sites that are currently using satellite.js.

Recommend closing this issue.

[2018-09-16 14:44] thkruz commented on #29
Recommend closing this if they have no further questions.

[2018-09-16 14:59] thkruz commented on #27
jspredict looks very handy, but it still relies on looping through at a specified interval.

What I have done to increase performance is throw a binary flag each iteration if the object is in view and if it is false, then check if it was true last iteration (determine if the object just left field of view).

If the object has just left field of view, I skip a number of iterations equal to 3/4th th

[2018-09-16 15:35] thkruz commented on #24
Recommend using Eci for the dopplerFactor example in the readme. There is no available function to convert velocityEci to velocityEcf and the readme already explains you _can_ use ecf if you have those values.

[2018-09-16 15:55] thkruz commented on #19
I just wanted to toss out a workaround since regardless of returning undefined or false, you can't plot it. If you use a try/catch function (https://www.w3schools.com/js/js_errors.asp) then it will catch all of the false returns and you either skip that iteration or remove the satellite (99% of my failures are decayed objects that I need to remove from my catalogue).

[2018-09-16 15:56] thkruz commented on #18
Given how old this issue is, can we close it?

[2018-09-16 16:29] nhamer commented on #24
satellite.eciToEcf converts it

[2018-09-16 16:53] thkruz commented on #45
Fairly similar results between 2.0.3 and 1.3. Well done.

[2018-09-16 21:31] dunko commented on #18
Yes please, can close it off, thanks for asking!

On Sun., 16 Sep. 2018, 11:56 Theodore Kruczek, <notifications@github.com>
wrote:

[2018-09-17 16:34] ezze commented on #18
I created a [repo](https://github.com/solarpatrol/satellite-requirejs) showing a basic usage with Require.js.
Thanks for contribution.

[2018-09-17 16:34] #18 closed

[2018-09-17 16:39] ezze commented on #42
@thkruz, thanks for contribution. I added a link to this wiki page to `README.md`.

[2018-09-17 16:39] #42 closed

[2018-09-17 16:39] #29 closed

[2018-09-22 13:02] thkruz commented on #6
Probably time to close this as well.

[2018-09-22 13:19] #6 closed, assigned to nobody

[2018-09-25 21:04] iamthechad opened #46 "jday calculations are incorrect for dates older than March 1 1900"
I'm comparing the `jday` output with http://aa.usno.navy.mil/data/docs/JulianDate.php for some unit test errors I'm seeing in code I'm migrating.

When compared to the algorithm from http://aa.usno.navy.mil/faq/docs/JD_Formula.php, all dates from March 1 1900 to now are correctly converted.

Starting with February 28 1900, all older dates are off by one day. The output from the formula, for exampl

[2018-09-26 02:11] thkruz commented on #46
Does it matter if the dates more than 50 years before Sputnik are wrong? It might be indicative of a possible future error in jday, but I don't see what application you would have for modeling satellites 50 years before launch?

[2018-09-26 17:17] thkruz opened #47 "mrt < 1.0 Check Should Be Earlier in sgp4.js"
Moving this check from line 421 to 386 would reduce unnecessary calculations if it is going to fail anyway.

[2018-09-26 19:03] thkruz opened #48 "Performance When Solving for Kepler's Equation"
Lines 334-348 call Math.abs up to 20 times per sgp4 call. If you are iterating the whole catalogue that is ~340,000 Math.abs calls.

It looks like some browsers perform substantially (10x faster) better with "tem5abs = tem5 < 0 ? -tem5 : tem5;" instead. I will try it tonight to see if I get noticeable results.

[2018-09-26 20:14] thkruz opened #49 "Replace satrec.method === 'd' with boolean in sgp4.js"
There are 4 calls to check satrec.method. These could be replaced with an isSatrecMethodD boolean that is set at the beginning of the function to reduce string evaluation.

[2018-09-26 20:27] thkruz opened #50 "vkmpersec Evaluated to Number"
Since vkmpersec is a constant, it should be solved in the code rather than recalculating it when iterating through the whole satellite catalog.

[2018-09-27 15:57] iamthechad commented on #46
I don't know that we're necessarily plotting satellites with those dates, but since we're already using this library for satellites we're switching over to its `jday` implementation vs our homegrown one. We may or may not have times when we need accurate and old jdays.

[2018-10-07 03:11] thkruz commented on #49
After testing this on chrome, it appears the cost of declaring a new variable is higher than reevaluating the string 4 times - so this does not work.

[2018-10-07 03:11] #49 closed

[2018-10-07 03:34] thkruz commented on #45
So I spent the day doing a lot more benchmarking and stand corrected. I did a loop of 20x17000 sgp4 calculations on two random satellites (one near earth and one deep space). Results:

- 1.3: 32.35ms
- 2.0.3: 30.75ms
- 2.0.3 Repackaged Not ES6 for WebWorker: 29.75ms

Now when I take that repackaged version of 2.0.3 and put it into my actual webworker it takes 55ms to iterate the catalogue and 32ms

[2018-10-07 03:36] thkruz commented on #50
Confirmed VERY minor increase (0.1ms) at the cost of deviating from David Vallado.

[2018-11-21 21:15] wgaylord opened #51 "Does satellite-js provide a way to see if a sat is in eclipse."
I am working on a project and I was wondering if satellite-js provided a function to tell me if a specific satellite is in eclipse or not.

[2018-11-26 17:58] jjyach opened #52 "Degrees to Radians in transforms.js"
Any way to add a degrees to radians function in transforms.js?

Function can be:
function degreesToRadians(degrees) {
  return degrees * _constants.deg2rad;
}

[2018-11-26 21:18] ezze commented on #52
Thanks for reporting this. I added few functions: `degreesToRadians`, `radiansLat`, `radiansLong`. You can check them installing version `3.0.0`.

[2018-11-26 21:18] #52 closed

[2018-12-18 01:12] wgaylord commented on #51
Anyone know this?

[2018-12-18 01:49] davidcalhoun commented on #51
That's an interesting question - my first guess would be to start from the sun's position, and then do a calculation (quadratic search style?) based on that.  You can use a sun position library like this one: https://github.com/mourner/suncalc

[2018-12-19 00:13] wgaylord commented on #51
I was asking if the software provided a function for it. I know how its done in libastro used by a python library.

[2019-02-01 15:39] thkruz commented on #51
This function is not built into satellite-js.

[2019-02-01 15:40] #48 closed

[2019-02-01 15:42] thkruz commented on #27
This can probably be closed.

[2019-02-01 16:16] #51 closed

[2019-02-01 16:17] wgaylord commented on #51
So it has ways to see it ifs above the horizon for a observer but not eclipse. Guess its time to start porting parts of libastro to JS so I can supplement this.

[2019-03-14 07:52] ezze commented on #50
Moved `vkmpersec` to constants (https://github.com/shashwatak/satellite-js/commit/9d04b6aa0052ac38e1de758a35d1e805c1ece6d7).

[2019-03-14 07:52] #50 closed

[2019-03-14 07:54] #27 closed

[2019-03-14 08:04] ezze commented on #47
@thkruz, seems fine for me, thanks! https://github.com/shashwatak/satellite-js/commit/75787378b004444877eeeb36631f07bae354447a

[2019-03-14 08:04] #47 closed

[2019-09-04 15:36] ivanstan commented on #15
@davidcalhoun Looks like I'm experiencing the same issue. Can you please provide that missing step?

[2019-09-04 15:40] ivanstan commented on #15
I figured it out also, it should be:
[code]

[2019-09-10 14:58] pkrasicki opened #56 "How to predict satellite passes with satellite.js?"
Hi, I really like this library! I was able to track satellite's position using the example from readme. Now I would like to know how to predict future satellite passes for a given location, but I don't even know where to start. Is there an example or some tutorial you could point me to?

[2019-09-10 15:11] thkruz commented on #56
Create a Date variable passTime = new Date(year, month, day, hours, minutes, seconds, milliseconds);
Then use var positionAndVelocity = satellite.propagate(satrec, passTime); instead.

As for changing your location...

Just change those values to the location you want to use.

It's that simple! Let me know if you need anything clarified or have more questions.

[2019-09-10 15:34] pkrasicki commented on #56
Thanks, but in my case I don't know the date. I need to know when the satellite will be passing nearby my location. I want to know when I will be able to observe it from my position :).

Something like this site: https://spotthestation.nasa.gov/sightings/view.cfm?country=France&region=None&city=Paris. It gives you a list of dates when ISS will be visible from a given city.

[2019-09-10 15:43] thkruz commented on #56
This is done through iteration. I don't have a code editor available and probably have a glaring error, but conceptually:

// Set Start Time
passTime = new Date(year, month, day, hours, minutes, seconds, milliseconds);
// Loop at 30 second intervals for 1 day
for (timeAdjust = 0; timeAdjust < 2880; timeAdjust++) {
    passTime = passTime + (timeAdjust * 30) // Add 30 seconds this loop
    position

[2019-09-10 16:47] pkrasicki commented on #56
Thank you! That's what I needed.

[2019-09-11 17:20] #56 closed

[2019-09-14 14:05] pkrasicki opened #57 "Getting perigee, apogee and orbital speed in km/s?"
Is it possible to get this information directly from satellite.js?

[2019-09-14 14:08] pkrasicki opened #58 "What is a good way to determine if satellite is in sunlight?"
I need to know if a satellite is illuminated by the sun and possibly be able to estimate its brightness. I read that I would need to calculate phase angle between the satellite, observer and the sun. Does anyone know how to do that?

[2019-09-14 18:46] pkrasicki commented on #57
I've noticed they are already calculated internally, but don't seem to be exposed to the user. Exposing parsed information from the TLE (mean motion etc.) would be useful too, so that users wouldn't have to parse TLE themselves.

[2019-12-21 18:29] davidcalhoun commented on #58
You can get part of this with a helper like https://github.com/Triggertrap/sun-js, though the times would be slightly different for a satellite because of its altitude.  It may help to peak at some of the math there at least.

[2020-01-02 05:38] pkrasicki commented on #58
Thanks for the answer! I've been stuck on this problem for a while. I'm making a free app for spotting the ISS https://github.com/pkrasicki/issviewer. Being able to know if ISS is illuminated is the key to make it usable for observations. It would be nice if satellite.js provided such feature. I'm using SunCalc https://github.com/mourner/suncalc library for getting sunrise/sunset times and positio

[2020-01-05 18:19] thkruz commented on #58
Could you use SunCalc.getTimes(date, lat, lng, height) and give it the current altitude of the satellite? Would be like calculating the sunrise/sunset times on a REALLY big mountain.

I am planning work on a similar idea, but for all orbital objects. It seems like that phase angle calculation would be more applicable to celestial bodies that are very large and relatively round, versus satellites t

[2020-01-07 01:53] thkruz commented on #58
So the major flaw in my idea is that the satellite is changing lat/lon unlike a mountain. New idea is to calculate Ra/Dec for the sun. Convert that into ECI using an arbitrary distance of 1,000,000km. I then iterate calculating the satellites ECI and keeping the minimum distance between the two objects. This allows you to find the time the satellite is MOST in the light over a given interval.

The

[2020-01-08 09:13] thkruz commented on #58
Deleted my old comments that were not helpful. Here is the answer you are looking for:

Satellite in Sun Math:
https://www.celestrak.com/columns/v03n01/

Angle Math in 3D:
https://www.geeksforgeeks.org/find-all-angles-of-a-triangle-in-3d/

Dot Math in JS might be useful too:
https://mathjs.org/docs/reference/functions/dot.html

[2020-01-14 17:47] pkrasicki commented on #58
That's very helpful! I like this solution, but the problem is that it requires ECI coordinates. I can get them for a satellite from satellite.js. The Earth would be the center I assume? So (0, 0, 0)? The problem is getting ECI coordinates for the sun. SunCalc and sun.js don't seem to give those. SunCalc gives azimuth and elevation.

[2020-01-14 20:43] thkruz commented on #58
I calculated the az/el of the sun from lat 0 lon 0 height 0 and then converted it from RAE to ECI. The one gotcha is that you need to do the equations on CelesTrak using the satellite's position as 0,0,0. I just kept everything in ECI and subtracted the satellites position. Take a look at:

satellite.isInSun() in https://github.com/thkruz/keeptrack.space/blob/master/js/lookangles.js
and
sun.getXYZ

[2020-01-23 16:51] pkrasicki commented on #58
For now I went with @davidcalhoun's idea, because it's easier to implement. It might be less accurate, but so far it's been working pretty well for ISS.

[code]

[2020-02-24 19:23] gabeblack opened #66 "BSTAR (drag) not being parsed correctly in some cases"
if the drag term has a leading zero(s), the code converts it to an integer (parseInt), but then back in to a string later when it gives it to parseFloat. This causes the leading zero to be dropped and it erroneously calculates the drag term.

I'm guessing that the nddot parameter suffers from the same issue.

[2020-05-07 18:08] thkruz commented on #57
Looks like this was solved and can be closed?

[2020-05-07 18:26] ezze commented on #57
Not sure that we will add some new [transform functions](https://github.com/shashwatak/satellite-js#coordinate-transforms). At least, I won't take that responsibility. AFAIK, these functions are not part of `sgp4` and were introduced by @shashwatak. We should ask him to review and decide whether to add them but I'm not sure he is on the party. :)

If anybody feel lucky and confident for further li

[2020-05-07 18:26] #57 closed

[2020-05-11 15:15] pkrasicki commented on #57
I was hoping this library would grow to do more things than just sgp4. There are libraries like that for Python, but none for JavaScript.

[2020-05-12 07:45] ezze commented on #57
@pkrasicki, there is no person who can make this library grow at the moment. It seems that @shashwatak doesn't support it anymore. I don't have enough knowledges in order to make significant changes to the library, and my mission was to make it friendly to modern environments such as ES6/Node.js and setup CI for automated testing. Moreover, I'm busy at work like most of you, and there is no free t

[2020-05-16 00:51] abolfazlshirazi opened #68 "Adding Sun() function (Sun Position/Ascension/Declination) to the package"
Hi,

I work with orbit propagation and I have been used Vallado MATLAB package for a long time. Currently, I am using satellite.js for a web-based project and I realized not all of the functions are converted from the original Vallado code. Since I personally needed the Sun position in my project, I converted the MATLAB function "sun.mat" from the Vallado package to Javascript "sun.js".

Since it

[2020-08-17 03:30] hanchangdong opened #70 "can i get venus postion by using SDP4?"
In my project, I need to get the position of celestial bodies in real time, for example Venus&Moon&Sun which is in the solar system and Big Dipper which is further away.
Can i use SDP4?
Any suggestions, thank you.

[2020-08-17 10:04] thkruz commented on #70
SDP4 is meant for objects with periods > than 225 but definitely within Earth's gravity. That won't work for other celestial bodies. I'd recommend https://github.com/mgreter/ephem.js as a possibility or https://github.com/mourner/suncalc for sun/moon calculations.

[2020-08-17 11:09] hanchangdong commented on #70
Thanks a lot!

[2020-08-17 11:10] #70 closed

[2020-09-14 20:10] iamthechad opened #73 "Typescript definitions are incorrect for gstime function"
The TypeScript definition for `gstime` is defined as `export function gstime(date: Date): GMSTime;`

This is not correct, since `gstime` can take a `Date`, Julian date (`number`), or any valid params for `jday()`

[2020-09-14 20:13] ezze commented on #73
@iamthechad @kylegmaxwell PR is welcome! ;)

[2020-09-14 20:14] iamthechad opened #74 "Documentation or implementation error for `degreesLat` and `degreesLong`"
In the README, there is a section that says:
[code]

The code for `degreesLong` and `degreesLat`, however, only returns numerical values without any of "N", "S", "E", or "W" appended. I'm not sure if this is a documentation error or an implementation error.

If it's a documentation error, the TypeScript definitions should be changed so that `degreesLat` and `degreesLong` return `number` instead of

[2020-09-14 20:18] ezze commented on #74
It's error in documentation. Probably, it's left after first serious refactoring in 2.0.0.

[2020-09-14 20:53] abolfazlshirazi opened #75 "jday() and invjday() do NOT keep milliseconds"
I realized that two functions jday() and invjday() skip computations for milliseconds.
In jdayInternal(), it is:

[code]
where msec = 0 as the input sets milliseconds to zero.
Also, in invjday(), it is:

[code]

where Math.floor(sec) as the output eliminates milliseconds.

It is easy to test by converting and reconverting:

[code]

These functions need revisions.

[2020-09-14 20:55] iamthechad commented on #73
I think I can put something together for this.

[2020-09-15 05:41] #73 closed

[2020-09-15 05:41] #74 closed

[2020-09-15 05:43] ezze commented on #73
FIxed in 4.1.1.

[2020-09-15 05:43] ezze commented on #74
Fixed in 4.1.1.

[2020-09-21 00:36] BaiH-ang opened #77 "Can I use satellite-js to create czml files?"
I don’t know how to create a simple satellite trajectory.
Can we get its trajectory by some formula instead of listing it？

[2020-09-21 00:53] thkruz commented on #77
SGP4 IS the "simple" equation for figuring out a satellites position/velocity in space at a given time. There are more accurate (and complicated) methods for doing those calculations.

[2020-09-21 00:57] BaiH-ang commented on #77
thank you,can I use satellite-js to create czml files?

[2020-09-21 01:00] BaiH-ang commented on #77
I mean, is it possible to get a series of position and time coordinates by formula？please

[2020-09-21 02:12] thkruz commented on #77
You can just use a simple for loop to accomplish that:

`
// Sample TLE
var tleLine1 = '1 25544U 98067A   19156.50900463  .00003075  00000-0  59442-4 0  9992',
      tleLine2 = '2 25544  51.6433  59.2583 0008217  16.4489 347.6017 15.51174618173442';

// Initialize a satellite record
var satrec = satellite.twoline2satrec(tleLine1, tleLine2);

let realTime = new Date();
let listOfTimes = [];
let lis

[2020-12-20 16:12] JaniniRami07 opened #80 "satellite.min.js"
I saw on the readme page that there is support for script tag, but I cant find the satellite.min.js anywhere, does anybody know where to find it or download it?

[2020-12-20 18:09] ezze commented on #80
You should install `satellite.js` with your package manager (npm or yarn):

[code]

or

[code]

and then find `satellite.min.js` in `node_modules/satellite.js` directory.

Another option is to clone the repository, install dependencies and build it manually (find the results in `dist` subdirectory):

[code]

[2020-12-20 18:09] #80 closed

[2020-12-21 19:49] thkruz commented on #80
This was super helpful! Might be worth adding to the readme.

Is there a reason why the satellite.js and satellite.min.js files are not included on the [releases page](https://github.com/shashwatak/satellite-js/releases) or that the dist folder is not shown on github?

I don't have a ton of familiarity with npm and yarn, but usually see a dist folder available on other projects.

[2020-12-21 22:11] ezze commented on #80
@thkruz Thanks for your question, mate!

The reason why `dist` directory is not shown on Github (both in sources and on releases page where tagged commits from `master` branch are shown only) is that `satellite.js` is not written in plain old JavaScript (ES5) anymore but ported to latter JavaScript versions ES6+ (you can refer to them [here](https://www.w3schools.com/js/js_versions.asp) or dive in

[2020-12-22 00:07] thkruz commented on #80
@ezze amazing answer. As someone who learned javascript as a hobby, the ES6+ stuff has been in the "I should really get around to learning that stuff" category and I think you just gave me a huge push. I will make the PR this week with some info from here and a link back to the full explanation. Thank you!

[2020-12-31 16:59] JaniniRami07 opened #83 "Getting lat/lon for a whole day."
Hey, I was trying to generate a list containing the lat/lon of the ISS in every second (preferably millisecond) of the day, I tried to do this and ended up crashing my browser, is there any efficient way to do so without crashing my browser?

[code]

[2020-12-31 18:26] davidcalhoun commented on #83
It sounds like there's a problem in your code that is causing an infinite loop.  Double check the stop condition and make sure it is indeed exiting.  I'm using a loop strategy with my own library and it works fine and is very fast.

One second intervals will get you a pretty nice ground track, except at extreme polar latitudes on Mercator projection maps, which have more map distortion and need <1

[2020-12-31 18:30] thkruz commented on #83
I regularly do the whole catalog on a one second loop, so I agree with @davidcalhoun that your issue is that it isn't exiting. If you post your current code then I'd be happy to take a look.

I'd recommend interpolating between 250 or 500 millisecond measurements if you really want that level of detail - but as was said, you probably don't need that except in really specific cases. What are you tr

[2020-12-31 18:34] JaniniRami07 commented on #83
I just edited my issue and added the code I am working with.

[2020-12-31 18:43] JaniniRami07 commented on #83
@thkruz I am trying to get a list of lat/lon for the ISS throughout the day to plot them on a map creating a ground track look alike map.

[2020-12-31 18:50] thkruz commented on #83
Two things that jump out (I can do some more testing when I get home):

Comment out the console.log and try again. You should instead do something like this:

Put this outside the loop.
[code]

And this at the bottom
[code]

Second, lesser thing, is that having the var statements INSIDE the loop is going to cause new objects to be created every time. I would declare all your variables at the top i

[2020-12-31 18:55] thkruz commented on #83
Then @davidcalhoun is definitely correct that you do not need millisecond intervals. Try 500 milliseconds and see if you like the results. A more complete solution would change i to increment by 1000 unless the current latitude > 80 || < -80 and then increment by 250.

[2020-12-31 18:58] JaniniRami07 commented on #83
Thank you so much, removing the vars and declaring them outside the function made it work, Also thanks for the advice I will try use milliseconds instead of seconds and see how they compare in accuracy!

[2020-12-31 18:58] #83 closed

[2021-01-07 05:00] thkruz commented on #75
I am looking changing the logic in days2mdhms to

[code]

Currently I am within +/- 1 millisecond. I will fiddle with it more tomorrow to see if I can figure out the cause. Not sure if the OP can say if it matters for his particular use. Either way this will be better than it was before.

[2021-01-07 05:06] thkruz commented on #75
As expected - this is breaking 18 tests because of the tolerance in the tests and a change of up to 999 milliseconds being introduced.

Any thoughts on using alternative verification methods? There are some high accuracy laser satellites (I'd have to look at whether or not the data is available for this forum). If this millisecond issue is in the actual SGP4 code vs the JS port then it is quite an

[2021-01-07 14:30] davidcalhoun commented on #75
Just for context, I believe I first added milliseconds to `jdayInternal` to the library originally, so it wasn't in the original JS port.

In the tests we could possibly use [toBeCloseTo()](https://jestjs.io/docs/en/expect#tobeclosetonumber-numdigits), not sure what folks would think of that.

[2021-01-07 14:51] ezze commented on #75
@davidcalhoun Here is your [PR](https://github.com/shashwatak/satellite-js/pull/38) for milliseconds support.

My first thought is the same: take a look at `toBeCloseTo`. The second one is to check original Python library regarding milliseconds support. All the work on porting the library was made by @shashwatak many years ago but I don't believe he is available now. Chances that `satellite.js` is

[2021-01-09 21:35] delaneyj opened #86 "Dates can effect propagation drasitically"
I'm using satellite-js in a 3d view.  It takes the currentTime and and a delta and creates a point in the future filling a VBO.  When it works it works wonderfully.

If try to created new buffer per frame I'm getting very odd behavior

Correct:
![image](https://user-images.githubusercontent.com/438252/104109046-d6523200-527e-11eb-9f88-2b9ab73fb31c.png)

Bad:
![image](https://user-images.githubuser

[2021-01-10 03:23] delaneyj commented on #86
Is #75 related?

[2021-01-10 07:15] thkruz commented on #86
Can you post some of the code you are using for the calls to propagate and/or sgp4?

I don't think #75 will cause that kind of effect, but its possible. Try passing the value as a number instead of a date object. If #75 is the problem then that should eliminate it.

I am having a hard time fully understanding what your program SHOULD look like. In the good screenshot, are those trails behind the c

[2021-01-10 17:07] delaneyj commented on #86
Sure @thkruz , thanks for your response!  I am really hoping its user error.

Using it via typescript to passing as a number doesn't compile.  I did try spg4 and hopefully got my minutes since epoch right but still saw the same behavior.

That's my fault I should have been clear on what I was doing.  I take a `SatRec` for the selected satellite and just run it through the `propagate` at a delta in

[2021-01-10 18:34] thkruz commented on #86
If you are using ECI as your reference frame, then one thing to consider is that although the earth is rotating and the position of the satellite relative to a point on the ground will continue to change throughout the day -- the satellites position in ECI is locked on a racetrack going through the same points again and again. I would recommend calculating the positions for the VBO at initializati

[2021-01-10 20:33] delaneyj commented on #86
I might be missing something be info.jdsatepoch is set by the TLE info.  It is static in my console.logs per frame which makes sense.

`let info = satellite.sgp4(satRec, t);` returns info with `[false,false]` contents.  IIRC the sgp4 needs `sinceEpochMinutes`.  Changing to `const sinceEpochMinutes = t / 1000 / 60 - satRec.jdsatepoch; const info = sgp4(satRec, sinceEpochMinutes)` still gives [false

[2021-01-10 21:51] thkruz commented on #86
Nope that was my mistake - I was thinking about satrec.t (which is what is input into sgp4 after you call propagate). The #75 issue is in invjday which you have to call manually. So confirming the milliseconds may not matter.

I copied that chunk of code from my library and forget the initialization for now. You need `const now = Date.now()` towards the top of that code. You are getting false beca

[2021-01-11 16:29] delaneyj commented on #86
So I built a whole new app just to test satellite.js in isolation.  TL;DR... I get no significant distance errors.  My current theory is the translation from world space to normalized coordinates (KM_NORMALIZED for example) is the heart of the issue and with vast scale changes causing the root issues.  So I'll need to do all the math in ECEF and at the very end plot back down. or move scene to use

[2021-01-11 16:29] #86 closed

[2021-01-12 21:44] ezze commented on #77
@BaiH-ang Sorry, I'm late to the party but hope that I can add more light to answer your question as I have some little experience creating CZMLs with `satellite.js`.

@thkruz is right, `satellite.js` doesn't provide a magic function to create a CZML for Cesium but if you are familiar with [CZML specs](https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/CZML-Guide) it should be quite easy to

[2021-01-12 21:44] #77 closed

[2021-06-24 03:37] xingzhenlu opened #92 "In cesuim, I want draw the orbit of the satellite,in ECI Coordinate system。"
In cesuim,the function that determines the position of an object is “let position = new Cesium.Cartesian3(x, y, z))”.
As it happens, there is such a function in satellite.js：
[code]
Of course, each value needs to be multiplied by 1000, converting from kilometers to meters.
Enter this x, y, Z into the cesuim function “let position = new Cesium.Cartesian3(x, y, z))”,get the result is not correct!
Pl

[2021-06-24 04:15] xingzhenlu commented on #92
It's a matter of radian and angle conversion！

[2021-06-24 04:16] xingzhenlu commented on #92
It's a matter of radian and angle conversion！

[2021-06-24 05:10] xingzhenlu commented on #92
It's a matter of radian and angle conversion！

[2021-06-24 05:10] #92 closed

[2022-03-03 01:54] ericsvendsen commented on #24
I realize this issue thread is really old, but thought I would post my solution here for calculating ECF velocity in case others have the same question. If accuracy is vital and you're able to track down and decipher the math mentioned above, then great! I was not though, and this seemed to worked out pretty well for me. :)

Basically, you can determine ecf velocity using the eci data that satelli

[2022-03-04 21:15] thkruz commented on #24
Slick idea. That should actually account for the rotation of the earth perfectly. Feels super obvious now that you post it - thanks for helping out!

[2022-05-06 00:41] stupideveloper opened #100 "Does satellite.js provide a way to determine if a satellite is above a ground station?"
I'm trying to predict when a satellite will cross some coordinates, is there a way to know if it's visible from said coordinates?

Thanks,
Lachlan

[2022-05-06 12:03] davidcalhoun commented on #100
Yes!  See the [readme](https://github.com/shashwatak/satellite-js#sample-usage), basically the ground station coordinates is the "observer".  You'd be most interested in computing the "look angles" - azimuth is the compass direction of the satellite from the perspective of the ground station (observer) and elevation is degrees above the horizon (90 degrees is overhead).  Note that elevation above

[2022-06-10 09:34] marquetd opened #101 "ecfToEci not defined in index.d.ts"
Hi,

ecfToEci is available but not in index.d.ts.
This cause a fake typescript error .

Thansk,

[2022-07-18 19:49] #101 closed

[2022-07-18 19:55] ezze commented on #101
@marquetd Thanks for reporting this. Please check 4.1.4.

[2022-07-19 20:56] CelesTrak opened #105 "TLE Errors - CelesTrak data now at https://celestrak.org"
Now that CelesTrak is a non-profit, we have been redirecting all traffic going to other CelesTrak domains (e.g., .com, .net, .space) to [celestrak.org](http://celestrak.org/) (not [www.celestrak.org](http://www.celestrak.org/)). If your software does not handle the standard HTTP 301 response (Moved Permanently), you should change any references to other CelesTrak domains (typically [celestrak.com]

[2022-08-06 01:46] TSKelso opened #107 "Two Errors in Existing Implementation"
In performing a full-catalog (23,781 TLEs) comparison of satellite.js to the official results from the US Space Force official results from SGP4Prop, I discovered two issues with the current implementation.

1. The current version incorrectly chooses the WGS84 set of geodetic parameters. While it is a more current geodetic system than WGS72, USSF still uses WGS72. It is important to use the SAME v

[2022-08-08 23:16] thkruz commented on #107
I saw in Revisiting Spacetrack Report #3 that the assumption was made that (then) AFSPC would likely stick to WGS-72 instead of upgrading because of interoperability issues on older systems that aren't updated. That seemed like a fair assumption and [my fork that I hope will one day replace this library](https://github.com/thkruz/ootk) defaults to WGS-72, but since the creator of this repo has mov

[2022-08-09 06:54] ezze commented on #107
@thkruz Hi, mate! I am still available, and it would be nice if we could upgrade the package because many people still use it. Looking on how repository's stars are growing we can be sure that our work is still in demand.

I see that changes are not too complicated but we must make them carefully not breaking the tests. We have not too many tests, and I'm not sure whether at least one exist to cov

[2022-08-09 11:22] thkruz commented on #107
I'll take another stab after work. I found satellite 692 that will trigger that block of code:

[code]

I can see in dspace.js where xnddt is different with/without the second modification @TSKelso recommended, but it isn't having any impact on the position/velocity output.

As for the WGS change - that will break every single position/velocity check in the tests because they are currently incorre

[2022-08-09 11:24] ezze commented on #107
Ok, then we must double check updated fixtures for the tests.

[2022-08-09 17:57] TSKelso commented on #107
You should not be testing with cases from Spacetrack Report Number 3. That was initially published in 1980 and many errors have been detected and corrected in that code. Those tests only cover a couple of cases, anyway.

You should be using the USSF official SGP4, which is available on Space Track at (you need a Space Track account):

	https://www.space-track.org/documentation#/sgp4 <https://www.s

[2022-08-10 03:50] thkruz commented on #107
@TSKelso Copy. The explanation is immensely helpful.

Downloaded SGP4Prop and generated position/velocity data for ~26,000 satellites at 1 minute intervals for 1440 minutes. Then wrote a node script to parse the output from SGP4Prop and format it in JSON. Jest kept barfing when trying to test every minute even when split into groups of 1000 satellites. I reduced the testing to checking at minutes

[2022-08-11 00:36] TSKelso commented on #107
Theodore,

That’s odd. I had no problem generating that data. I used a full dataset in TLE format from CelesTrak (from Jul 20, so all tests used the same data). In SGP4Lib (the C# code from our 2006 paper), I looped through each TLE, generated data ±1440 minutes from TLE epoch at 1-minute intervals, and output that to a file. That prevents using a lot of internal memory, since it is just propagati

[2022-08-13 17:46] thkruz commented on #100
@ezze Recommend closing this since the questions has been answered.

[2022-08-13 17:47] thkruz commented on #58
@ezze Recommend closing this since it has been answered.

[2022-08-17 17:53] tempranova opened #109 "Detail units in README"
Hello! I wasn't sure about making an issue for this, but I am working to create a 3D map and wondering what specific unit the "height" measurement is. I get values like 800, etc, but this surely isn't meters? Or is this from some base height that I'm not aware of -- 800 meters is not nearly enough for a satellite in orbit? Thanks!

[2022-08-17 17:55] #109 closed

[2022-08-17 23:23] thkruz commented on #109
I assume you figured it out, but for future people's reference, the azimuth and elevation are in radians and the height is in kilometers.

[2022-09-21 21:38] letmaik opened #110 "Possible issue with accuracy"
I noticed that this library produces slightly different results than Python's [skyfield](https://github.com/skyfielders/python-skyfield) library. Is this expected? Both libraries seem to have test vectors.

**satellite-js:**
XYZ: [1366.441281990948, -5843.920852076301, 3180.698197781816 ]
Longitude: : 58.053917147708106
Latitude: 28.072343404662533
Elevation: 418.87478629257475

**skyfield:**
XYZ:

[2022-09-21 21:45] thkruz commented on #110
Take a look at https://github.com/shashwatak/satellite-js/pull/108, but be sure to use WGS 72 is skyfield or you will surely get different answers. Without reviewing their code, it could be the use of 1st/2nd derivatives of mean motion causing differences or any of the bugs I address in that PR.

[2022-09-21 21:52] letmaik commented on #110
I tried with your branch and get this:
"x": 1366.422830298306,
"y": -5843.92852074945,
"z": 3180.6759955027815

"lat": 28.0721645587034,
"lon": 58.053728950245045,
"alt": 418.86722017424836

Interestingly, the XYZ values are still quite different from skyfield but the geographic coordinates now are nearly identical.

[2022-09-21 21:56] letmaik commented on #110
FWIW, the XYZ values of skyfield are GCRS coordinates. Does satellite-js use something slightly different? Maybe I shouldn't look too closely at those and be happy with matching geographic coordinates.

[2022-09-22 22:49] thkruz commented on #110
@letmaik I would recommend looking at https://space-track.org for the official propagator used by USSF. I have tested 20,000 or so TLEs against mine and got answers within 1mm of USSF for the ECI coordinates. I would treat their tool as the truth and then work backwards to determine which library has the issue.

If you can't figure it out I will take a look when I am done traveling in a week or so

[2022-09-23 08:44] letmaik commented on #110
@thkruz OK let's close this. I'll consider opening an issue on skyfield's repo, but for my use cases it's good enough. The issue only becomes apparent when you combine coordinates computed by both libraries in a single visualization, but I guess that's not a common use case.

[2022-09-23 08:44] #110 closed

[2022-09-30 14:26] louisjmorgan commented on #58
this is how I do it using some THREE.js vector methods to simplify the maths:

`const THREE = require('three');

const earthPosition = new THREE.Vector3(0, 0, 0);
const sunPosition = new THREE.Vector3();
const satPosition = new THREE.Vector3();
const sunEarth = new THREE.Vector3();
const sunSat = new THREE.Vector3();

function isEclipsed(satellite, sun) {
  sunPosition.fromArray([sun.x, sun.y, sun